.pokemonCon .card {
  background-color: var(--darkBlueSaved);
  border: none;
  margin-bottom: 20px;
}

.pokemonCon .card .imgCon {
  margin: 0 auto;
  background-color: var(--blueSaved);
  border: 2px solid transparent;
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  transition: all 0.3s;
  margin-bottom: 5px;
  cursor: pointer;
  img {
    height: 100%;
    width: 100%;
  }
  * {
    align-self: center;
  }
}
.pokemonCon .card .imgCon:before {
  content: "";
  display: block;
  padding-top: 100%; /* ratio of 1:1*/
}
.pokemonCon .card .imgCon:hover {
  background-color: var(--darkBlueSaved);
  border: 2px solid var(--pink);
  box-shadow: none;
}
.pokemonCon .card .pokeName {
  color: var(--textWhite);
  text-align: center;
  font-size: 1rem;
}

.PokeLightBox{

  .modal-body {
    .container-fluid {
      max-width: 700px;
    }
    img {
      margin: 10px;
      width: 60%;
    }
  }
  .typeCol{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .nonCapitalize {
      text-transform: none;
    }
    .typeDiv {
      margin-bottom: 10px;
    }
    .abilityTitle {
      margin: 10px 0;
      span {
        background-color: rgb(36, 36, 36);
      }
    }
    .typeDiv span,
    .abilityTitle span {
      margin: 5px;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: 800;
      color: white;
    }
  }
  
  .statsCon {
    .stat {
      max-width: 700px;
      margin: 0 auto;
      .statName {
        margin: 5px;
        font-size: 16px;
      }
      .statBar,
      .statWidth {
        background-color: var(--blueSaved);
        height: 15px;
        border-radius: 10px;
        overflow: hidden;
        .statWidth {
          background-color: var(--pinkSaved);
        }
      }
    }
  }
}


.normal {
  background-color: #a8a878;
}
.grass {
  background-color: #78c850;
}
.ground {
  background-color: #e0c068;
}
.fighting {
  background-color: #c03028;
}
.rock {
  background-color: #b8a038;
}
.steel {
  background-color: #b8b8d0;
}
.fire {
  background-color: #f08030;
}
.electric {
  background-color: #f8d030;
}
.flying {
  background-color: #a890f0;
}
.psychic {
  background-color: #f85888;
}
.bug {
  background-color: #a8b820;
}
.dragon {
  background-color: #7038f8;
}
.water {
  background-color: #6890f0;
}
.ice {
  background-color: #98d8d8;
}
.poison {
  background-color: #a040a0;
}
.dark {
  background-color: #705848;
}
.ghost {
  background-color: #705898;
}
.fairy {
  background-color: #ffaec9;
}
@media only screen and (max-width: 600px) {
  .pokemonCon {
    .col-md-4 {
      padding: 5px;
      margin-bottom: 0;
    }
  }

  .pokemonCon .card .imgCon {
    padding: 0.5rem;
  }
  .pokemonCon .card .pokeName {
    font-size: 0.8rem;
  }
}
