.pokemonCon .card {
  background-color: var(--darkBlueSaved);
  border: none;
  margin-bottom: 20px;
}

.pokemonCon .card .imgCon {
  margin: 0 auto;
  background-color: var(--darkerBlueSaved);
  border: 2px solid transparent;
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 5px;
  cursor: pointer;
}

.pokemonCon .card .imgCon img {
  height: 100%;
  width: 100%;
}

.pokemonCon .card .imgCon * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pokemonCon .card .imgCon:hover {
  border: 2px solid var(--pinkSaved);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pokemonCon .card .imgCon:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* ratio of 1:1*/
}

.pokemonCon .card .pokeName {
  color: var(--textWhite);
  text-align: center;
  font-size: 1rem;
}

.PokeLightBox .modal-body .container-fluid {
  max-width: 700px;
}

.PokeLightBox .modal-body img {
  margin: 10px;
  width: 60%;
}

.PokeLightBox .typeCol {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.PokeLightBox .typeCol .nonCapitalize {
  text-transform: none;
}

.PokeLightBox .typeCol .typeDiv {
  margin-bottom: 10px;
}

.PokeLightBox .typeCol .abilityTitle {
  margin: 10px 0;
}

.PokeLightBox .typeCol .abilityTitle span {
  background-color: #242424;
}

.PokeLightBox .typeCol .typeDiv span,
.PokeLightBox .typeCol .abilityTitle span {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 800;
  color: white;
}

.PokeLightBox .statsCon .stat {
  max-width: 700px;
  margin: 0 auto;
}

.PokeLightBox .statsCon .stat .statName {
  margin: 5px;
  font-size: 16px;
}

.PokeLightBox .statsCon .stat .statBar,
.PokeLightBox .statsCon .stat .statWidth {
  background-color: var(--darkBlueSaved);
  height: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.PokeLightBox .statsCon .stat .statBar .statWidth,
.PokeLightBox .statsCon .stat .statWidth .statWidth {
  background-color: var(--pinkSaved);
}

.normal {
  background-color: #a8a878;
}

.grass {
  background-color: #78c850;
}

.ground {
  background-color: #e0c068;
}

.fighting {
  background-color: #c03028;
}

.rock {
  background-color: #b8a038;
}

.steel {
  background-color: #b8b8d0;
}

.fire {
  background-color: #f08030;
}

.electric {
  background-color: #f8d030;
}

.flying {
  background-color: #a890f0;
}

.psychic {
  background-color: #f85888;
}

.bug {
  background-color: #a8b820;
}

.dragon {
  background-color: #7038f8;
}

.water {
  background-color: #6890f0;
}

.ice {
  background-color: #98d8d8;
}

.poison {
  background-color: #a040a0;
}

.dark {
  background-color: #705848;
}

.ghost {
  background-color: #705898;
}

.fairy {
  background-color: #ffaec9;
}

@media only screen and (max-width: 600px) {
  .pokemonCon .col-md-4 {
    padding: 5px;
    margin-bottom: 0;
  }
  .pokemonCon .card .imgCon {
    padding: 0.5rem;
  }
  .pokemonCon .card .pokeName {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=pokemon.css.map */