.aboutCon {
  color: var(--textWhite);
  .madeWith {
    color: var(--pink);
    font-size: 21px;
    font-weight: 700;
    svg {
      color: rgb(207, 1, 1);
      font-size: 25px;
      padding-bottom: 7.5px;
    }
  }
 
  .anime{
    background-color: green;
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }

}

