.lolChamp {
  min-height: 160px;
  text-align: center;

  .frame {
    margin: 0 auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
  }
  .frame:hover {
    border: 3px solid var(--pinkSaved);
  }
  .frame:hover > img {
    filter: brightness(0.5);
    transform: scale(0.9);
  }
  img {
    transform: scale(0.86);
    transition: 0.7s ease-out;
  }
  p {
    font-weight: 700;
  }
}
