.userLoginCon {
  .modal-body {
  margin:  0 auto;
    max-width: 700px;

  }

  .btn {
    box-shadow: 1px 1px 1.5px 0.5px rgba(56, 56, 56, 0.288);
    &:hover {
      box-shadow: none;
      transition: all 0.5s;
      transform: translate(1px, 1px);
    }
  }

}

@media only screen and (max-width: 600px) {
  .userLoginCon {
    .modal-content {
      width: 100%;
      padding: 10px;
      .modal-body {
        min-width: 100%;
        min-height: 400px;
      }
    }
  }
  .loginImgCol {
    .loginImg {
      max-width: 170px;
    }
  }
}
