.homeCon {
  position: relative;
  min-height: 200px;
}

.homeCon .header {
  width: 100%;
}

.homeCon .colorSwitchCon {
  position: absolute;
  right: 30px;
  top: 35px;
}

.homeCon .colorSwitchCon .custom-control {
  color: var(--textWhite);
}

.homeCon .colorSwitchCon .custom-control-label:before {
  background-color: var(--darkerBlueSaved);
  border: none;
  -webkit-box-shadow: 0.5px 1px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0.5px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.homeCon .colorSwitchCon .custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--darkerBlueSaved);
}

.homeCon .homeSectionCon {
  background-color: var(--darkerBlueSaved);
  margin-bottom: 25px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-height: 200px;
  padding: 20px;
  -webkit-box-shadow: 3px 4px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.homeCon .movieCon .carouselMovie svg {
  color: var(--textWhite);
  cursor: pointer;
}

.homeCon .movieCon .carouselMovie svg:hover {
  color: var(--pinkSaved);
}

.homeCon .movieCon .carouselMovie .emptyMovie {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeCon .movieCon .carouselMovie .emptyMovie a {
  padding: 0;
}

.homeCon .movieCon .carouselMovie .movie {
  position: relative;
}

.homeCon .movieCon .carouselMovie .movie img {
  max-height: 200px;
  margin-right: 10px;
  border-radius: 3px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.homeCon .movieCon .carouselMovie .movie svg {
  height: 20px;
  width: 20px;
  position: absolute;
  color: var(--pinkSaved);
  opacity: 0;
}

.homeCon .movieCon .carouselMovie .movie svg:hover {
  color: var(--textWhite);
}

.homeCon .movieCon .carouselMovie .movie .movieDashboardDelete {
  right: 15px;
  top: 5px;
}

.homeCon .movieCon .carouselMovie .movie .movieDashboardGoto {
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
}

.homeCon .movieCon .carouselMovie .movie:hover img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.homeCon .movieCon .carouselMovie .movie:hover svg {
  opacity: 1;
}

.homeCon .btnLeft,
.homeCon .btnRight {
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 2;
  outline: transparent;
}

.homeCon .btnLeft svg,
.homeCon .btnRight svg {
  color: var(--textWhite);
}

.homeCon .btnLeft {
  top: 45%;
  left: 10px;
}

.homeCon .btnRight {
  top: 45%;
  right: 10px;
}

.homeCon .coronaCon {
  color: var(--textWhite);
}

.homeCon .coronaCon .chartCon {
  height: 400px;
}

.homeCon .coronaCon .coronaCard {
  border: none;
}

.homeCon .coronaCon .coronaCard .row div {
  margin-top: 20px;
  text-align: center;
}

.homeCon .coronaCon .coronaCard .row div .deaths {
  color: #c00101;
}

.homeCon .coronaCon .coronaCard .row div .recovered {
  color: green;
}

.homeCon .coronaCon .coronaCard .row div button {
  background-color: transparent;
  color: var(--subTextWhite);
  border: none;
}

.homeCon .coronaCon .coronaCard .row div button:focus {
  outline: none;
}

.homeCon .coronaCon .card {
  background-color: transparent;
}

.homeCon .coronaCon .card .coronaCat {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 300px;
  text-transform: capitalize;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeCon .radioCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
}

.homeCon .radioCon .radioWrapper {
  overflow-x: scroll;
}

.homeCon .radioCon .radioWrapper .player-wrapper {
  height: 100%;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

.homeCon .radioCon .radioWrapper .player-wrapper h4 {
  font-size: 1rem;
  text-align: center;
  color: var(--textWhite);
}

.homeCon .radioCon .radioWrapper .player-wrapper .audio {
  width: 100%;
  max-width: 500px;
  -webkit-filter: var(--filter);
          filter: var(--filter);
}

.homeCon .radioCon .radioWrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.homeCon .youTubeCon .youTubeSpinner {
  margin-bottom: 3px;
  margin-left: 10px;
}

.homeCon .youTubeCon .searchBar {
  margin-top: 40px;
}

.homeCon .youTubeCon .react-player {
  margin: 20px auto;
}

h3.colorHeader {
  color: var(--textWhite);
  font-size: 1.2rem;
}

h3.colorHeader strong {
  padding-right: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--pinkSaved)), to(var(--lightBlueSaved)));
  background-image: linear-gradient(90deg, var(--pinkSaved), var(--lightBlueSaved));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
}

h3.colorHeader a {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: var(--textWhite);
  display: inline-block;
  text-decoration: none;
}

h3.colorHeader a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--lightBlueSaved)), to(var(--pinkSaved)));
  background-image: linear-gradient(90deg, var(--lightBlueSaved), var(--pinkSaved));
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

h3.colorHeader a:hover::after {
  width: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

h3.colorHeader span {
  font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
  .homeCon .colorSwitchCon {
    right: 10px;
    display: inline;
  }
  .homeCon .colorSwitchCon .custom-control .custom-control-label {
    font-size: 0px;
  }
  .homeCon .movieCon .carouselMovie .movie img {
    max-height: 170px;
  }
  .homeCon .youTubeCon .react-player {
    width: 250px !important;
    height: 300px !important;
  }
  .homeCon .coronaCon .card-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homeCon .coronaCon .card-header div {
    width: 50%;
  }
}
/*# sourceMappingURL=Dashboard.css.map */