.homeCon {
  position: relative;
  min-height: 200px;
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    .colorSwitchCol {
      .custom-control {
        color: var(--textWhite);
      }
      .custom-control-label:before {
        background-color: var(--darkerBlueSaved);
        border: none;
        box-shadow: 0.5px 1px 2px 0px rgba($color: #000000, $alpha: 0.2);
      }
    }
  }
  .homeSectionCon {
    background-color: var(--darkerBlueSaved);
    margin-bottom: 25px;
    border: 0.5px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 5px;
    min-height: 200px;
    padding: 20px;
    box-shadow: 3px 4px 2px -2px rgba($color: #000000, $alpha: 0.2);
    a {
      padding: 0;
    }
    h3 {
      color: var(--textWhite);
      font-size: 1.2rem;
      text-decoration: underline;
    }
  }
  .movieCon {
    .movieWrapper {
      display: flex;
      overflow-x: scroll;
      transition: 1s ease-in-out;
    }
    .movieWrapper::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    img {
      max-height: 200px;
      margin-right: 10px;
      border-radius: 3px;
    }
    overflow-x: hidden;
  }
  .btnLeft,
  .btnRight {
    background-color: transparent;
    border: none;
    position: absolute;

    z-index: 2;
    outline: transparent;
    svg {
      color: var(--textWhite);
    }
  }
  .btnLeft {
    top: 45%;
    left: 10px;
  }
  .btnRight {
    top: 45%;
    right: 10px;
  }
  .coronaCon {
    color: var(--textWhite);
    a {
      color: var(--textWhite);
    }
    h3 {
      margin-bottom: 20px;
      span {
        font-size: 0.8rem;
      }
    }
    .coronaCat {
      float: left;
      width: 50%;
      text-transform: capitalize;
      text-align: center;
    }
    .deaths {
      color: rgb(192, 1, 1);
    }
    .recovered {
      color: green;
    }
  }
  .radioCon {
    display: flex;
    flex-direction: column;
    height: 200px;
    .radioWrapper {
      overflow-x: scroll;

      .player-wrapper {
        height: 100%;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        h4 {
          font-size: 1rem;
          text-align: center;
          color: var(--textWhite);
        }
        audio {
          color: red !important;
        }
      }
    }
    .radioWrapper::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .homeCon {
    .header {
      .mainTitle {
        margin-right: 10px;
      }
      .custom-control {
        color: var(--textWhite);
        .custom-control-label {
          font-size: 0px;
        }
      }
    }
  }
}
