.homeCon {
  position: relative;
  min-height: 200px;
  .header {
    width: 100%;
  }
  .colorSwitchCon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 35px;
    .lightIcon{
      display: none;
      margin-right: .5em;
      color:var(--textWhite)
    }
    .custom-control {
      color: var(--textWhite);
    }
    .custom-control-label:before {
      background-color: var(--darkerBlueSaved);
      border: none;
      box-shadow: 0.5px 1px 2px 0px rgba($color: #000000, $alpha: 0.2);
    }
    .custom-control-input:checked ~ .custom-control-label::before {
      background-color: var(--darkerBlueSaved);
    }
    
  }
  .homeSectionCon {
    background-color: var(--darkerBlueSaved);
    margin-bottom: 25px;
    border: 0.5px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 5px;
    min-height: 200px;
    padding: 20px;
    box-shadow: 3px 4px 2px -2px rgba($color: #000000, $alpha: 0.2);
  }

  .movieCon {
    .carouselMovie {
      svg {
        color: var(--textWhite);
        cursor: pointer;
        &:hover {
          color: var(--pinkSaved);
        }
      }
      .emptyMovie {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          padding: 0;
        }
      }
      .movie {
        position: relative;
        img {
          max-height: 200px;
          margin-right: 10px;
          border-radius: 3px;
          transition: 0.3s all;
        }
        svg {
          height: 20px;
          width: 20px;
          position: absolute;
          color: var(--pinkSaved);
          opacity: 0;
          &:hover {
            color: var(--textWhite);
          }
        }
        .movieDashboardDelete {
          right: 15px;
          top: 5px;
        }
        .movieDashboardGoto {
          left: 50%;
          margin-left: -10px;
          top: 50%;
          margin-top: -10px;
        }
        &:hover img {
          filter: brightness(0.5);
        }
        &:hover svg {
          opacity: 1;
        }
      }
    }
  }
  .btnLeft,
  .btnRight {
    background-color: transparent;
    border: none;
    position: absolute;

    z-index: 2;
    outline: transparent;
    svg {
      color: var(--textWhite);
    }
  }
  .btnLeft {
    top: 45%;
    left: 10px;
  }
  .btnRight {
    top: 45%;
    right: 10px;
  }
  .coronaCon {
    color: var(--textWhite);
    .chartCon{
      height: 400px;
    }
    .coronaCard {
      border: none;
      .row div {
        margin-top: 20px;
        text-align: center;
        .deaths {
          color: rgb(192, 1, 1);
        }
        .recovered {
          color: green;
        }
        button {
          background-color: transparent;
          color: var(--subTextWhite);
          border: none;
          &:focus {
            outline: none;
          }
        }
      }
    }

    .card {
      background-color: transparent;

      .coronaCat {
        margin: 0 auto;
        margin-top: 10px;
        max-width: 300px;
        text-transform: capitalize;
        text-align: center;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .radioCon {
    display: flex;
    flex-direction: column;
    height: 200px;
    .radioWrapper {
      overflow-x: scroll;

      .player-wrapper {
        height: 100%;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        h4 {
          font-size: 1rem;
          text-align: center;
          color: var(--textWhite);
        }
        .audio{
          width: 100%;
          max-width: 500px;
          filter:var(--filter);
        }
     
      }
    }
    .radioWrapper::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  .youTubeCon {
    overflow: hidden;
    .youTubeSpinner {
      margin-bottom: 3px;
      margin-left: 10px;
    }
    .searchBar{
      margin-top: 40px;
    }
    .react-player {
      margin: 20px auto;
    }
  }
}
h3.colorHeader {
  color: var(--textWhite);
  font-size: 1.2rem;
  strong {
    padding-right: 5px;
    background-image: linear-gradient(
      90deg,
      var(--pinkSaved),
      var(--lightBlueSaved)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;
  }
  a {
    transition: 0.2s ease-out;
    color: var(--textWhite);

    display: inline-block;
    text-decoration: none;
  }
  a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-image: linear-gradient(
      90deg,
      var(--lightBlueSaved),
      var(--pinkSaved)
    );
    transition: width 0.3s;
  }
  a:hover::after {
    width: 100%;
    transition: width 0.3s;
  }

  span {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 600px) {
  .homeCon {
    .colorSwitchCon {
      right: 1.5em;
      .lightIcon{
        display: initial;
      }
      .custom-control {
        .custom-control-label {
          font-size: 0px;
        }
      }
    }

    .movieCon {
      .carouselMovie {
        .movie {
          img {
            max-height: 170px;
          }
        }
      }
    }
    .youTubeCon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .searchBar{
        width: 100%;
      }
      .player-wrapper{
        min-height: 30px;
      }
      .react-player {
        width: 250px !important;
        height: 300px !important;
      }
    }
    .coronaCon {
      .card-header {
        display: flex;
        flex-wrap: wrap;
        div {
          width: 50%;
        }
      }
     
    }
  }
}
