.homeCon {
  position: relative;
  min-height: 200px;
}

.homeCon .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

.homeCon .header .colorSwitchCol .custom-control {
  color: var(--textWhite);
}

.homeCon .header .colorSwitchCol .custom-control-label:before {
  background-color: var(--darkerBlueSaved);
  border: none;
  -webkit-box-shadow: 0.5px 1px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0.5px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.homeCon .homeSectionCon {
  background-color: var(--darkerBlueSaved);
  margin-bottom: 25px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-height: 200px;
  padding: 20px;
  -webkit-box-shadow: 3px 4px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.homeCon .homeSectionCon a {
  padding: 0;
}

.homeCon .homeSectionCon h3 {
  color: var(--textWhite);
  font-size: 1.2rem;
  text-decoration: underline;
}

.homeCon .movieCon {
  overflow-x: hidden;
}

.homeCon .movieCon .movieWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.homeCon .movieCon .movieWrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.homeCon .movieCon img {
  max-height: 200px;
  margin-right: 10px;
  border-radius: 3px;
}

.homeCon .btnLeft,
.homeCon .btnRight {
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 2;
  outline: transparent;
}

.homeCon .btnLeft svg,
.homeCon .btnRight svg {
  color: var(--textWhite);
}

.homeCon .btnLeft {
  top: 45%;
  left: 10px;
}

.homeCon .btnRight {
  top: 45%;
  right: 10px;
}

.homeCon .coronaCon {
  color: var(--textWhite);
}

.homeCon .coronaCon a {
  color: var(--textWhite);
}

.homeCon .coronaCon h3 {
  margin-bottom: 20px;
}

.homeCon .coronaCon h3 span {
  font-size: 0.8rem;
}

.homeCon .coronaCon .coronaCat {
  float: left;
  width: 50%;
  text-transform: capitalize;
  text-align: center;
}

.homeCon .coronaCon .deaths {
  color: #c00101;
}

.homeCon .coronaCon .recovered {
  color: green;
}

.homeCon .radioCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
}

.homeCon .radioCon .radioWrapper {
  overflow-x: scroll;
}

.homeCon .radioCon .radioWrapper .player-wrapper {
  height: 100%;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

.homeCon .radioCon .radioWrapper .player-wrapper h4 {
  font-size: 1rem;
  text-align: center;
  color: var(--textWhite);
}

.homeCon .radioCon .radioWrapper .player-wrapper audio {
  color: red !important;
}

.homeCon .radioCon .radioWrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media only screen and (max-width: 600px) {
  .homeCon .header .mainTitle {
    margin-right: 10px;
  }
  .homeCon .header .custom-control {
    color: var(--textWhite);
  }
  .homeCon .header .custom-control .custom-control-label {
    font-size: 0px;
  }
}
/*# sourceMappingURL=Dashboard.css.map */