.ContactBtnCon {
  position: fixed;
  bottom: 35px;
  right: 30px;
  //size
  width: 60px;
  height: 60px;
  background-color: var(--darkBlueSaved);
  border: 2px solid var(--blueSaved);
  border-radius: 50%;
  color: var(--textWhite);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .4s ;
  svg {
    font-size: 35px;
  }
}
.ContactBtnCon:hover{
  border: 2px solid var(--pinkSaved);

}
@media only screen and (max-width: 600px) {
  .ContactBtnCon {
    top: 25px;
    right: 10px;
    
  }
}
