.homeCon {
  position: relative;
  min-height: 200px;
  .header {
    width: 100%;
  
    
  }
  .homeSectionCon{
    background-color: var(--blueSaved);
    margin-bottom: 25px;
    border-radius: 20px;
    min-height: 200px;
    padding: 20px;
    a{
      padding: 0;
    }
    h3{
      color: var(--lightBlueSaved);
      font-size: 1.2rem;
    }
    h3:hover{
      text-decoration: underline;
    }
  }
  .movieCon{
    .movieWrapper{
      display: flex;
      overflow-x: scroll;
      scrollbar-color: red yellow;
    }
    .movieWrapper::-webkit-scrollbar {
      // width: 12px;
      background-color: var(--blueSaved);
    
    }
    .movieWrapper::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: var(--darkBlueSaved);
    
    }    
    img{
      max-height: 200px;
      margin-right: 10px;
      
    }
    overflow-x: hidden
  }
  .pokeCon{
    img{
      max-height: 80px;
    }
  }
}

@media only screen and (max-width: 600px) {
  
}
