.loginPage {
  //   background-color: var(--darkBlueSaved);
  // background-color: var(--pinkSaved);

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .loginCon {
    border: .5px solid rgba($color: #000000, $alpha: .2);
    background-color: rgba(247, 247, 247, 0.7);
    box-shadow: 6px 9px 3px 0px rgba(117, 117, 117, 0.377);
    padding: 30px 60px;
    padding: 30px 70px;
    border-radius: 5px;
    max-width: 500px;
    .loginHeader {
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      .lockIcon {
        font-size: 20px;
        color: var(--textWhite);
      }
      span {
        color: var(--subTextWhite);
        margin-left: 10px;
      }
    }
    .loginImgCol {
      text-align: center;
      align-self: center;
      .loginImg {
        max-width: 150px;
      }
    }
    .loginForm {
      div.signUpCon{
        color: var(--subTextWhite);
        opacity: .95;
        font-size: .85em;
        text-align: center;
        span.signUp{
          cursor: pointer;
          color:rgb(85, 85, 250) !important;
          &:hover{
            text-decoration: underline;
          }
        }
      }
   
      .form-error {
        color: var(--pinkSaved);
      }
      .btn {
        margin-bottom: 10px;
      }
    }
  }
  &::after {
    content: "";
    background-image: url("../../assets/img/bg.jpg");
    background-size: cover;
    background-position: right;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

@media only screen and (max-width: 600px) {
  .loginPage {
    .loginCon {
      padding: 40px 30px;
      border-radius: 0px;
      
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .loginForm {
        .btn {
          margin-bottom: 10px;
        }
      }
    }
  }
}
