.userLoginCon {
  .modal-body {
    max-width: 700px;
    .loginImgCol {
      text-align: center;
      align-self: center;
      .loginImg {
        width: 100%;
      }
    }
    .loginCon {
      background-color: var(--darkBlueSaved);
      padding: 20px 30px;
      border: 1.5px solid rgba(223, 223, 223, 0.637);
      border-radius: 20px;
      .loginHeader {
        text-align: center;
        margin: 0;
        padding-bottom: 20px;
        .lockIcon {
          font-size: 25px;

          color: rgb(192, 192, 192);
        }
      }
    }
  }

  .btn {
    box-shadow: 1px 1px 1.5px 0.5px rgba(56, 56, 56, 0.288);
  }
  .btn:hover {
    box-shadow: none;
    transition: all 0.5s;
    transform: translate(1px, 1px);
  }
}

@media only screen and (max-width: 600px) {
  .userLoginCon {
    .modal-content {
      width: 100%;
      padding: 10px;
      .modal-body {
        min-width: 100%;
        min-height: 400px;
      }
    }
  }
  .loginImgCol {
    .loginImg {
      max-width: 170px;
    }
  }
}
