.movieCon {
  // padding-bottom: 20px;
}
.movieCon .input-group {
  padding-top: 10px;
  max-width: 500px;
  margin: 0 auto;
}
.movieCon .inputError {
  margin-top: 100px;
  text-align: center;
  color: var(--pinkSaved);
}
.movieCon .card {
  margin-bottom: 20px;
  overflow: hidden;
  background-color: var(--darkerBlueSaved);
  color: var(--textWhite);
  border-radius: 10px;
}

.movieCon .card .card-body {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
//score
.movieCon .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .score {
    margin-left: 5px;
    color: var(--subTextWhite);

    background-color: var(--pinkSaved);
    border-radius: 50%;
    height: 40px;
    min-width: 40px;
    display: inline-block;
    padding-top: 2px;
    font-size: 17px;
    text-align: center;
  }
  .score span {
    background: var(--darkerBlueSaved);
    padding-top: 9px;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: inline-block;
  }
}
.movieCon .movieList .card-text {
  // font-size: 10px;
  overflow: hidden;
  margin: 0;
  color: var(--subTextWhite);
  font-size: 0.9rem;
}
.movieCon .movieList {
  padding: 0 20px;
}

.movieCon .card .imgCon {
  text-align: center;
  justify-content: center;
  display: flex;
  height: 300px;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s all;
  }
  * {
    align-self: center;
  }
  svg {
    font-size: 50px;
  }
  .addCon {
    opacity: 0;
    position: absolute;
  }
}
.imgCon:hover {
  img {
    filter: brightness(0.5);
  }
  .addCon {
    opacity: 1 !important;
    color: var(--pinkSaved);
  }
}

.movieCon .card .cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .date {
    font-size: 12px;
  }
  .movieInfo{
    font-size: 12px;
    margin: 0;
  }
  
}

@media only screen and (max-width: 600px) {
  .movieCon .card .card-text {
    margin-bottom: 12px;
  }
  .searchBar{
    margin-top: 10px !important;
  }
}
