body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darkBlueSaved) !important;
  overflow-x: hidden;
}

:root {
  --darkerBlueSaved: #ffffff;
  --darkBlueSaved: #f2f2f2;
  --blueSaved: #e5e3e1;
  --lightBlueSaved: #e52e71;
  --pinkSaved: #ff8a00;
  --textWhite: #393e46;
  --subTextWhite: #303a52;
  --filter: invert(0%);
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--darkBlueSaved);
}

body::-webkit-scrollbar {
  // width: 12px;
  background-color: var(--darkBlueSaved);
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--blueSaved);
}
.modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--darkBlueSaved);
}
.modal::-webkit-scrollbar {
  // width: 12px;
  background-color: var(--darkBlueSaved);
}

.modal::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--blueSaved);
}
.spinner-border {
  //all images loading spinner
  color: var(--pinkSaved);
}
.loadingScreen {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color: var(--pinkSaved);
    font-size: 15px;
    margin: 20px;
  }
}
.backSideBar {
  background-color: var(--darkBlueSaved);
}
.mainCon {
  min-height: 100.1vh;
  width: 100%;
  position: relative;
  // overflow-x: hidden;
}

.mainTitle {
  font-size: 1.5rem;
  font-weight: normal;
  padding: 30px;
  color: var(--textWhite);
  img {
    width: 50px;

    padding-right: 10px;
  }
  .subTitle {
    font-size: 1rem;
    font-weight: 500;
    color: var(--subTextWhite);
  }
}
.hide {
  opacity: 0;
}
#mainConDark:after {
  position: fixed;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.74);
  z-index: 3;
  mix-blend-mode: multiply;
}
.pageBtn {
  background-color: var(--pinkSaved) !important;
  color: white !important;
  border: none !important;
}
.pageBtn:hover {
  background-color: rgb(201, 64, 105) !important;
}
.capitalize {
  text-transform: capitalize;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: "";
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #8a8a8a;
    background-color: var(--darkBlueSaved);
  }
}
.inputSaved {
  background-color: transparent;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--subTextWhite);
  color: var(--textWhite);
}
.inputSaved:focus {
  outline: none;
}
.inputSaved:focus-within {
  border-radius: 5px;
  border: 1px solid var(--pinkSaved);
}
.searchBar {
  margin: 0 auto;
  max-width: 400px;
  border: 1px solid rgba(172, 172, 172, 0.5);
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  svg {
    color: var(--textWhite);
  }
  input {
    color: var(--textWhite);
    padding-left: 10px;
    background-color: transparent;
    border: none;
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  &:focus-within {
    border: 1px solid var(--pinkSaved);
  }
  button {
    position: absolute;
    padding: 0 10px;
    right: 0;
    height: 100%;
    background-color: transparent;
    border: none;
    color: var(--textWhite);
    transition: 0.5s all;
    &:hover {
      background-color: var(--pinkSaved);
      color: var(--textWhite);
    }
  }
}

@media only screen and (max-width: 768px) {
  .tooltip {
    opacity: 0 !important;
  }

  .mainTitle {
    font-size: 1.2rem;
    margin: 0 auto;
    text-align: center;
    img {
      width: 45px;
    }
    .subTitle {
      font-size: 0.65rem;
    }
  }
  #mainConDark:after {
    background: rgba(0, 0, 0, 0.75);
  }
}
