.spinner-border{//all images loading spinner 
  color:var(--pinkSaved) ;
}
.loadingScreen {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color:var(--pinkSaved) ;
    font-size: 15px;
    margin: 20px;
  }
}
.backSideBar {
  background-color: var(--darkBlueSaved);
}
.mainCon {
  background-color: var(--darkBlueSaved);
  min-height: 100.1vh;
  width: 100%;
  transition: all 1s;
}

.mainTitle {
  font-size: 2rem;
  font-weight: 800;
  padding: 30px;
  color: var(--textWhite);
  img {
    width: 50px;

    padding-right: 10px;
  }
  .subTitle {
    font-size: 1rem;
    font-weight: 500;
    color: var(--subTextWhite);
  }
}
.hide {
  opacity: 0;
}
#mainConDark:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  mix-blend-mode: multiply;
}
.pageBtn {
  background-color: var(--pinkSaved) !important;
  color: white !important;
  border: none !important;
}
.pageBtn:hover {
  background-color: rgb(201, 64, 105) !important;
}
.capitalize {
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .tooltip {
    opacity: 0 !important;
  }
  .mainTitle {
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    .subTitle {
      font-size: 0.65rem;
    }
  }
  #mainConDark:after {
    background: rgba(0, 0, 0, 0.75);
  }
}
