.App .container-fluid .row #openCol {
  width: 200px;
}

.App .container-fluid .row .sideBarMenu {
  height: 100vh;
  background-color: var(--blueSaved);
  padding: 0;
  width: 80px;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.App .container-fluid .row .sideBarMenu ul {
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px;
}

.App .container-fluid .row .sideBarMenu ul li a {
  padding: 0px;
}

.App .container-fluid .row .sideBarMenu ul .menuIconCon {
  text-align: left;
  padding: 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.App .container-fluid .row .sideBarMenu ul .menuIconCon #menuWrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 1;
}

.App .container-fluid .row .sideBarMenu ul .menuIconCon #menuWrapper .circle {
  width: 30px;
  height: 30px;
  position: relative;
}

.App .container-fluid .row .sideBarMenu ul .menuIconCon #menuWrapper .line {
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--textWhite);
  border-radius: 8px;
  -webkit-transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.App .container-fluid .row .sideBarMenu ul .menuIconCon #menuWrapper .top {
  top: 18%;
}

.App .container-fluid .row .sideBarMenu ul .menuIconCon #menuWrapper .middle {
  top: 48%;
}

.App .container-fluid .row .sideBarMenu ul .menuIconCon #menuWrapper .bottom {
  top: 78%;
}

.App .container-fluid .row .sideBarMenu ul .menuIconCon #menuWrapper .icon.close .top {
  background: var(--pinkSaved);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 48%;
}

.App .container-fluid .row .sideBarMenu ul .menuIconCon #menuWrapper .icon.close .middle,
.App .container-fluid .row .sideBarMenu ul .menuIconCon #menuWrapper .icon.close .bottom {
  background: var(--pinkSaved);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 48%;
}

.App .container-fluid .row .sideBarMenu ul .menuIconCon #menuCircle {
  border-top-color: var(--pinkSaved);
}

.App .container-fluid .row .sideBarMenu ul .menuIconCon .menuCircle {
  position: absolute;
  left: 12px;
  top: 12px;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
}

.App .container-fluid .row .sideBarMenu ul .menuIconCon svg {
  position: relative;
  z-index: 99;
  padding: 5px;
  border-radius: 50%;
  font-size: 50px;
  background-color: var(--blueSaved);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.App .container-fluid .row .sideBarMenu ul span {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: var(--subTextWhite);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 10px;
}

.App .container-fluid .row .sideBarMenu ul .menuItem {
  text-align: left;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  position: relative;
}

.App .container-fluid .row .sideBarMenu ul .menuItem svg {
  font-size: 40px;
  color: var(--subTextWhite);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.App .container-fluid .row .sideBarMenu ul .menuItem:hover {
  background-color: var(--darkBlueSaved);
}

.App .container-fluid .row .sideBarMenu ul .menuItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--pinkSaved);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.App .container-fluid .row .sideBarMenu ul a.activeLink .menuItem {
  background-color: var(--darkBlueSaved);
}

.App .container-fluid .row .sideBarMenu ul a.activeLink .menuItem::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.App .container-fluid .row .sideBarMenu ul a.activeLink svg {
  color: var(--textWhite);
  font-size: 40px;
}

.App .container-fluid .row .sideBarMenu ul a.activeLink span {
  color: var(--textWhite);
}

.menuMainIcon {
  margin-bottom: 30px;
}

/* spin starts */
.spin-it-once {
  -webkit-animation: spin 1s;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1s;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

.spin-infinite {
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(1060deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(1060deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(1060deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(1060deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

/* spin ends */
@media only screen and (max-width: 600px) {
  .App .container-fluid .row #openCol {
    width: 160px;
    height: 100vh;
    background-color: var(--blueSaved);
    border-right: 2px solid var(--pinkSaved);
  }
  .App .container-fluid .row .sideBarMenu {
    height: 90px;
    background-color: rgba(0, 0, 0, 0);
    width: 65px;
  }
  .App .container-fluid .row .sideBarMenu ul .menuIconCon {
    padding: 15px 7px;
  }
  .App .container-fluid .row .sideBarMenu ul .menuIconCon .menuCircle {
    position: absolute;
    left: 4px;
    top: 12px;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    border: 2px solid var(--blueSaved);
    background-color: var(--darkBlueSaved);
  }
  .App .container-fluid .row .sideBarMenu ul .menuIconCon svg {
    position: relative;
    z-index: 99;
    padding: 5px;
    border-radius: 50%;
    font-size: 50px;
    background-color: var(--blueSaved);
    color: whitesmoke;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .App .container-fluid .row .sideBarMenu ul {
    padding: 15px 0px;
  }
  .App .container-fluid .row .sideBarMenu ul .menuItem {
    padding: 15px 10px;
    padding-left: 10px;
  }
  .App .container-fluid .row .sideBarMenu ul span {
    font-size: 1rem;
  }
  .App .container-fluid .row .sideBarMenu ul .btn {
    width: 100%;
    padding: 10px 0 10px 0;
  }
}
/*# sourceMappingURL=header.css.map */