.App {
  .container-fluid .row {
    #openCol {
      width: 200px;
    }
    .sideBarMenu {
      height: 100vh;
      background-color: var(--blueSaved);
      padding: 0;
      width: 80px;
      overflow: hidden;
      position: fixed;
      // box-shadow: -4px 0px 7px 9px #2F4967;
      z-index: 5;
      transition: all 0.4s;
      ul {
        height: calc(var(--vh, 1vh) * 100);
        justify-content: space-between;
        padding: 30px 0px;
        li {
          a {
            padding: 0px;
          }
        }
        .menuIconCon {
          text-align: left;
          padding: 15px 15px;
          display: flex;
          position: relative;

          cursor: pointer;
          #menuCircle {
            border-top-color: var(--pinkSaved);
          }
          .menuCircle {
            position: absolute;
            left: 12px;
            top: 12px;
            border-radius: 50%;
            height: 56px;
            width: 56px;

            border-radius: 50%;
            border: 10px solid transparent;
          }
          svg {
            // menu icon
            position: relative;
            z-index: 99;
            padding: 5px;
            border-radius: 50%;
            font-size: 50px;
            background-color: var(--blueSaved);
            color: rgb(245, 245, 245);
            transition: all 0.4s;
          }
        }
        span {
          font-size: 20px;
          font-weight: 500;
          color: rgb(248, 248, 248);
          transition: all 0.4s;
          align-self: center;
          padding-left: 10px;
        }
        .menuItem {
          text-align: left;
          padding: 20px 10px;
          display: flex;
          padding-left: 20px;
          border-left: 3px solid rgba(0, 0, 0, 0);
          svg {
            // menu icon
            font-size: 40px;
            color: rgb(199, 199, 199);
            transition: all 0.4s;
          }
        }
        .menuItem:hover {
          background-color: var(--darkBlueSaved);
        }
        a.activeLink {
          .menuItem {
            background-color: var(--darkBlueSaved);
            border-left: 3px solid var(--pinkSaved);
          }
          svg {
            // menu icon
            color: rgb(255, 255, 255);
            font-size: 40px;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
.menuMainIcon {
  margin-bottom: 30px;
}
/* spin starts */
.spin-it-once {
  -webkit-animation: spin 1s; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1s; /* Chrome, Firefox 16+, IE 10+, Opera */
}
.spin-infinite {
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}


@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(1060deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(1060deg); /* IE 9 */
    transform: rotate(1060deg); /* Firefox 16+, IE 10+, Opera */
  }
}
/* spin ends */
@media only screen and (max-width: 600px) {
  .App {
    .container-fluid .row {
      #openCol {
        width: 160px;
        height: 100vh;
        background-color: var(--blueSaved);
        border-right: 2px solid var(--pinkSaved);
      }
      .sideBarMenu {
        height: 90px;
        background-color: rgba(0, 0, 0, 0);
        width: 65px;
        ul .menuIconCon {
          padding: 15px 7px;
          .menuCircle {
            position: absolute;
            left: 4px;
            top: 12px;
            border-radius: 50%;
            height: 56px;
            width: 56px;
            box-shadow: 0px 0px 5px 3px rgb(24, 24, 24);
          }
          svg {
            // menu icon
            position: relative;
            z-index: 99;
            padding: 5px;
            border-radius: 50%;
            font-size: 50px;
            background-color: var(--blueSaved);
            color: rgb(245, 245, 245);
            transition: all 0.4s;
          }
        }
        ul {
          padding: 15px 0px;

          .menuItem {
            padding: 15px 10px;
            padding-left: 10px;
          }
          span {
            font-size: 1rem;
          }
        }
        ul .btn {
          width: 100%;
          padding: 10px 0 10px 0;
        }
      }
    }
  }
}
